<!DOCTYPE HTML>
<html>
<head>
<title>SpringWind 邮件发送</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/css/dpl-min.css" rel="stylesheet" type="text/css" />
<link href="/static/css/bui-min.css" rel="stylesheet" type="text/css" />
<link href="/static/plugins/nice-validator-0.10.11/jquery.validator.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
    <form id="myForm" class="form-horizontal span24" action="#springUrl('/mail/send.html')" method="post" autocomplete="off">
    <div class="row" style="margin-top: 100px;margin-left: 80px;">
	    #if($!{tipMsg})<p><span class="label label-important">$!{tipMsg}</span></p>#end
	    <p><span class="label label-success">邮件测试</span>&nbsp;输入合法电子邮箱，点击发送！</p>
	    <input name="email" type="text" data-rule="required;email;" class="input-normal control-text" placeholder="电子邮箱">
	    <br><br>
	    <button id="sendBtn" type="submit" class="button button-primary">发 送</button>
    </div>
    </form>
  </div>
<script type="text/javascript" src="/static/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/plugins/nice-validator-0.10.11/jquery.validator.min.js"></script>
<script type="text/javascript" src="/static/plugins/nice-validator-0.10.11/local/zh-CN.js"></script>
<script type="text/javascript">
$('#myForm').on('click', '#sendBtn', function(e){
    $(e.delegateTarget).trigger("validate");
});
</script>
<body>
</html>