<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpringWind - 非法访问</title>
    <link href="#springUrl('/static/css/bootstrap.min14ed.css?v=3.3.6')" rel="stylesheet">
    <link href="#springUrl('/static/css/font-awesome.min93e3.css?v=4.4.0')" rel="stylesheet">
    <link href="#springUrl('/static/css/animate.min.css')" rel="stylesheet">
    <link href="#springUrl('/static/css/style.min862f.css?v=4.1.0')" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h1>error</h1>
        <h3 class="font-bold">非法访问</h3>
        <div class="error-desc">
         	抱歉你无该页面访问权限，请联系管理员...
            <br/>您可以返回主页看看
            <br/><a href="#springUrl('/index.html')" class="btn btn-primary m-t">主页</a>
        </div>
    </div>
    <script src="#springUrl('/static/js//jquery.min.js?v=2.1.4')"></script>
    <script src="#springUrl('/static/js//bootstrap.min.js?v=3.3.6')"></script>
</body>
</html>
