<!DOCTYPE HTML>
<html>
<head>
<title>日志管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/plugins/bootstrap-table/css/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div style="margin: 15px">
		<div class="panel">
		  <div class="panel-body">
			  <form id="searchForm" class="form-inline">
				  <div class="form-group">
				    <label>用户ID：</label>
				    <input type="text" name="uid" class="form-control" placeholder="请输入用户ID">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">操作：</label>
				    <input type="text" name="operation" class="form-control" placeholder="请输入操作内容">
				  </div>
				  <button id="searchBtn" type="button" class="btn btn-success">搜 索</button>
			  </form>
		  </div>
		</div>
		<div id="jsGrid">
			<table id="dataTable"
				data-method="post"
				data-url="/log/jsonData.html"
				data-content-type="application/x-www-form-urlencoded"
				data-click-to-select="true">
			    <thead>
			        <tr>
			        	<th data-field="state" data-checkbox="true"></th>
			            <th data-field="uid">用户ID</th>
			            <th data-field="operation">操作</th>
			            <th data-field="content">日志内容</th>
			            <th data-field="crTime" data-align="center" data-width="100px" data-formatter="dateFormatter">创建时间</th>
			        </tr>
			    </thead>
			</table>
		</div>
	</div>
<script type="text/javascript" src="/static/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/plugins/bootstrap-table/js/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/static/plugins/bootstrap-table/js/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="/static/js/common/bootstrap-table-base.js"></script>
<script type="text/javascript" src="/static/plugins/layer-v2.4/layer.js"></script>
<script type="text/javascript" src="/static/plugins/jquery-dateFormat.min.js"></script>
<script type="text/javascript" src="/static/js/ajax-util.js"></script>
<script>
var $table = $('#dataTable');
$(function () {
	//初始化 Table
	new TableInit('dataTable').Init();
	
});

//日期格式化
function dateFormatter(value, row) {
  return $.format.date(value, "yyyy-MM-dd");
}

//查询
dataSearch('searchBtn', 'searchForm');

/* 	AjaxUtil.request({
		url: $table.attr("data-url"),
		params: $("#searchForm").serialize(),
		callback: function() {
		}
	}); */

//详情提示层
function detailTip(tip){
	layer.open({
	  type: 1,
	  skin: 'layui-layer-rim', //加上边框
	  area: ['420px', '240px'], //宽高
	  title:'具体内容',
	  content: tip
	});
}
</script>
<body>
</html>
