<!doctype html>
<html>
<head>
<title>添加菜单</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/css/dpl-min.css" rel="stylesheet" type="text/css" />
<link href="/static/css/bui-min.css" rel="stylesheet" type="text/css" />
<link href="/static/plugins/nice-validator-0.10.11/jquery.validator.css" rel="stylesheet" type="text/css" />
</head>
<body>
<form id="myForm" class="form-horizontal" method="post" autocomplete="off">
<div class="demo-content" style="margin: 50px;">
    <input type="hidden" name="type" value="$!{type}">
	#if($!{pid})
    <input type="hidden" name="pid" value="${pid}">
    #else
    <input type="hidden" name="id" value="$!{sysPermission.id}">
    #end
    <div class="row">
      <div class="control-group span24">
        <label class="control-label"><s>*</s>标 题：</label>
        <div class="controls">
          <input name="text" type="text" value="$!{sysPermission.text}" data-rule="required;" class="input-normal control-text">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="control-group span24">
        <label class="control-label"><s>*</s>菜单ID：</label>
        <div class="controls">
          <input name="mid" type="text" value="$!{sysPermission.mid}" data-rule="required;" class="input-normal control-text">
        </div>
      </div>
      <div class="control-group span24">
        <label class="control-label"><s>*</s>地 址：</label>
        <div class="controls">
          <input name="href" type="text" value="$!{sysPermission.href}" data-rule="required;" class="input-normal control-text">
        </div>
      </div>
      <div class="control-group span24">
        <label class="control-label"><s>*</s>排 序：</label>
        <div class="controls">
          <input name="sort" type="text" value="$!{sysPermission.sort}" data-rule="required;digits;length[1~6]" class="input-normal control-text">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="control-group span24">
        <label class="control-label"><s>*</s>权限编码：</label>
        <div class="controls">
          <input name="code" type="text" value="$!{sysPermission.code}" data-rule="required;" class="input-normal control-text">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="control-group span24">
        <label class="control-label">描 述：</label>
        <div class="controls control-row4">
          <textarea name="description" class="input-large" data-rule="required;">$!{sysPermission.description}</textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="control-group span24">
        <label class="control-label">菜单是否可关闭：</label>
        <div class="controls control-row4">
        	<select name="closeable">
        		<option value="1" #if($!{sysPermission.closeable}==1)selected="selected"#end> 是 </option>
        		<option value="0" #if($!{sysPermission.closeable}==0)selected="selected"#end> 否 </option>
        	</select>
        </div>
        <label class="control-label">状 态：</label>
        <div class="controls control-row4">
        	<select name="state">
        		<option value="1" #if($!{sysPermission.state}==1)selected="selected"#end> 正 常 </option>
        		<option value="0"  #if($!{sysPermission.state}==0)selected="selected"#end> 禁 用 </option>
        	</select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="control-group span24 offset6">
      	<button type="submit" class="button button-primary">提交</button>
      </div>
    </div>
</div>
</form>
<script type="text/javascript" src="/static/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/plugins/nice-validator-0.10.11/jquery.validator.min.js"></script>
<script type="text/javascript" src="/static/plugins/nice-validator-0.10.11/local/zh-CN.js"></script>
<script type="text/javascript" src="/static/plugins/layer-v2.4/layer.js"></script>
<script type="text/javascript" src="/static/js/ajax-util.js"></script>
<script type="text/javascript">
var myFrom = $('#myForm'), index = parent.layer.getFrameIndex(window.name);
myFrom.bind('valid.form', function(){
 	AjaxUtil.request({
  		url: '/permission/edit.html',
  		params: myFrom.serialize(),
  		callback: function(data) {
  			parent.layer.msg('添加成功！', {icon: 1});
  			parent.layer.close(index);
  			parent.location.reload();
  		}
	});
});
</script>
</body>
</html>