#override("title")
SpringWind 管理系统 - 锁定
#end
#override("css")
<!--[if lt IE 9]>
<meta http-equiv="refresh" content="0;ie.html" />
<![endif]-->
<link rel="shortcut icon" href="favicon.ico">
<link href="#springUrl('/static/css/bootstrap.min14ed.css?v=3.3.6')" rel="stylesheet">
<link href="#springUrl('/static/css/font-awesome.min93e3.css?v=4.4.0')" rel="stylesheet">
<link href="#springUrl('/static/css/animate.min.css')" rel="stylesheet">
<link href="#springUrl('/static/css/style.min862f.css?v=4.1.0')" rel="stylesheet">
<script>if(window.top !== window.self){ window.top.location = window.location;}</script>
#end
#override("body")
<body class="gray-bg">
    <div class="lock-word animated fadeInDown">
    </div>
    <div class="middle-box text-center lockscreen animated fadeInDown">
        <div>
            <div class="m-b-md">
                <img alt="image" class="img-circle circle-border" src="#springUrl('/static/img/a1.jpg')">
            </div>
            <h3>$!{loginName}</h3>
            <p>您需要再次输入密码</p>
            <form class="m-t" role="form" method="post" action="#springUrl('/account/lockscreen.html')">
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="******" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width">登录 SpringWind</button>
            </form>
        </div>
    </div>
    <script src="#springUrl('/static/js/jquery.min.js?v=2.1.4')"></script>
    <script src="#springUrl('/static/js/bootstrap.min.js?v=3.3.6')"></script>
</body>
#end  
#extends("/common/base.html")
