#override("title")
SpringWind 管理系统 - 登录
#end
#override("body")
<body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">SW</h1>
            </div>
            <h3>欢迎使用 SpringWind</h3>
            <form class="m-t" role="form" method="post" action="#springUrl('/account/login.html')">
                <div class="form-group">
                    <input type="text" name="loginName" class="form-control" placeholder="用户名" required="">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="密码" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">登 录</button>

                <a href="#"><small>忘记密码了？</small><br><br></a>
                <a class="btn btn-sm btn-white btn-block" href="#springUrl('/account/register.html')">注册一个新账号</a>
            </form>
            <p class="m-t"><small><a target="_blank" href="http://www.baomidou.com/">&copy;baomidou</a></small> </p>
        </div>
    </div>
</body>
#end  
#extends("/common/base.html")
