#override("title")
SpringWind - 角色管理
#end
#override("css")
<link href="#springUrl('/static/css/plugins/bootstrap-table/bootstrap-table.min.css')" rel="stylesheet">
#end
#override("breadcrumb")
<li><a>权限管理</a></li><li class="active"><strong>角色管理</strong></li>
#end
#override("content")
<div class="row">
    <div class="row">
        <div class="col-sm-12">
            <table id="dataTable"></table>
        </div>
    </div>
</div>
#end
#override("js")
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js')"></script>
<script src="#springUrl('/static/plugins/layer-v2.2/layer/layer.js')"></script>
<script src="#springUrl('/static/js/base_list.js')"></script>
<script src="#springUrl('/static/js/common.js')"></script>
<script type="text/javascript">
var dataUrl="#springUrl('/perm/role/getRoleList.html')";
var dataColumns = [{
    field: 'id',
    title: '序号'
}, {
    field: 'name',
    title: '角色'
}, {
    field: 'description',
    title: '描述'
}, {
    title: '操作',
    formatter: function (value, row, index) {
        var id = row.id;
        return '<a class="btn btn-xs btn-primary" onclick="editRole(' + "'" + id + "'" + ')"><i class="fa fa-pencil"></i>新增</a> '
                +'<a class="btn btn-xs btn-info" onclick="editRole(' + "'" + id + "'" + ')"><i class="fa fa-pencil"></i>编辑</a> '
                + '<a class="btn btn-xs btn-danger" onclick="delRole(' + "'" + id + "'" + ')"><i class="fa fa-remove"></i>删除</a>';
    }
}];
function dataQueryParams(params) {
	return {
		_size: params.limit,  //页面大小
		_index: params.offset, //页码
	};
}
function delRole(roleId) {
    //询问框
    layer.confirm('确定删除吗？', {
        btn: ['确定', '取消'] //按钮
    }, function () {
        $.ajax({
            type: "POST",
            url: "#springUrl('/perm/role/delete/')" + roleId,
            datatype: "text",
            success: function (data) {
                if(data == 'true'){
                    $('#dataTable').bootstrapTable('refresh',{url:dataUrl});
                }
                layer.closeAll();
            }
        });
    }, function () {
        return;
    });
}

function editRole(RoleId,type){
    var title;
    if(type == 1){
        title = "新增用户";
    } else{
        title = "编辑用户";
    }
    //iframe层
    layer.open({
        type: 2,
        title: title,
        shadeClose: true,
        shade: 0.8,
        area: ['540px', '600px'],
        fix: false, //不固定
        maxmin: true,
        content: "#springUrl('/perm/user/addUser/1')" //iframe的url
    });
}
</script>
#end
#extends("/common/framework.html")
