<!doctype html>
<html>
<head>
<title>菜单管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/css/dpl-min.css" rel="stylesheet" type="text/css" />
<link href="/static/css/bui-min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/static/plugins/zTree_v3-3.5.24/css/zTreeStyle/zTreeStyle.css" type="text/css">
</head>
<body>
  	<div class="demo-content" style="margin-left: 80px;margin-top: 50px;">
  		<div class="row">
  			<div class="span24" >
  				<button id="addLeaf" class="button button-primary">添加</button>
			    <button id="editLeaf" class="button button-info">编辑</button>
			    <button id="removeLeaf" class="button button-danger">删除</button>
  			</div>
  		</div>
  		<div class="row">
  			<div class="span24">
  				<ul id="menuTree" class="ztree"></ul>
  			</div>
  		</div>
	</div>
<script type="text/javascript" src="/static/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/plugins/zTree_v3-3.5.24/js/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="/static/plugins/layer-v2.4/layer.js"></script>
<script type="text/javascript">
//菜单树
$(document).ready(function(){
	var setting = {data: {simpleData: {enable: true}}};
	$.fn.zTree.init($("#menuTree"), setting, $!{menuTreeJson});
	$('#addLeaf').on('click', function(){editMenu(false)});
	$('#editLeaf').on('click', function(){editMenu(true)});
	$('#removeLeaf').on('click', function(){removeMenu()});
});
//编辑菜单
function editMenu(edit) {
	console.log(edit)
	var zTree = $.fn.zTree.getZTreeObj("menuTree"),
		nodes = zTree.getSelectedNodes();
	if (nodes.length == 0) {
		layer.msg('请选择父级菜单 ！', {icon: 5});
	} else {
		var node = nodes[0];
		console.log(node)
		if (node.check_Child_State >=0) {
			var index = layer.open({
				title:"添加菜单",
				type: 2,
			  	area: ['700px', '530px'],
				maxmin: true,
			  	content: '/permission/menu/add.html?id=' + node.id + '&edit=' + edit
			});
			layer.full(index);
		} else {
		  	layer.msg('请选择正确的父级菜单 ！', {icon: 5});
		}
	}
}
//删除菜单
function removeMenu() {
	var zTree = $.fn.zTree.getZTreeObj("menuTree"),
		nodes = zTree.getSelectedNodes();
	if (nodes.length == 0) {
		layer.msg('请选择删除的菜单 ！', {icon: 5});
	} else {
		if (nodes[0].check_Child_State >=0) {
		  	layer.msg('请选择子菜单删除 ！', {icon: 5});
		} else {
			layer.confirm('确定删除该菜单 ？', {
				  btn: ['确定', '取消']
			}, function() {
			  	layer.msg('的确很重要', {icon: 1});
			});
		}
	}
}
</script>
</body>
</html>