<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#block("title")#end</title>
    <link href="#springUrl('/static/css/bootstrap.min14ed.css?v=3.3.6')" rel="stylesheet">
    <link href="#springUrl('/static/ont-awesome.min93e3.css?v=4.4.0')" rel="stylesheet">
    <link href="#springUrl('/static/css/plugins/bootstrap-table/bootstrap-table.min.css')" rel="stylesheet">
    <link href="#springUrl('/static/css/animate.min.css')" rel="stylesheet">
    <link href="#springUrl('/static/css/style.min862f.css?v=4.1.0')" rel="stylesheet">
    #block("css")#end
</head>
#block("body")#end
<script src="#springUrl('/static/js/jquery.min.js?v=2.1.4')"></script>
<script src="#springUrl('/static/js/bootstrap.min.js?v=3.3.6')"></script>
<script src="#springUrl('/static/js/content.min.js?v=1.0.0')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js')"></script>
<script src="#springUrl('/static/js/commom.js')"></script>
<script src="#springUrl('/static/plugins/layer-v2.2/layer/layer.js')"></script>
#block("js")#end
<script src="#springUrl('/static/js/base_list.js')"></script>
<script src="#springUrl('/static/js/common.js')"></script>
</body>
</html>
