<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomidou.springwind.mapper.SysPermissionMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id, pid, text, type, state, sort, mid, closeable, href, code, description
	</sql>

	<select id="selectAllByUserId" resultType="SysPermission">
		SELECT id, text, href, code FROM sys_permission p LEFT JOIN
		(SELECT DISTINCT r.pid FROM role_permission r WHERE EXISTS (
		SELECT 1 FROM user_role u WHERE u.uid=#{userId} AND r.rid=u.rid )) a ON p.id=a.pid
	</select>

	<select id="selectMenuByPid" resultType="Menu">
		SELECT id AS tid,mid AS id,text,href,closeable FROM sys_permission 
		WHERE pid=#{pid} AND type=0 AND state=0 ORDER BY sort
	</select>

	<select id="selectMenuTreeByPid" resultType="MenuZtreeVO">
		SELECT id,pid AS pId,text AS name FROM sys_permission 
		WHERE pid=#{pid} AND type=0 AND state=0 ORDER BY sort
	</select>
</mapper>